@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap');

:root {
  --white: #ffffff;
  --blue: #5D5FEF;
  --black: #000000;
  --dark-grey: #111827;
  --select-mode-color: #F3F4F6;
  --light-grey: #E2E3E5;
  --dark-slate-blue: #4D5562;
  --text-color: var(--dark-slate-blue);
  --button-text-color: var(--black);
  --result-color: var(--dark-grey);
  --border-color: var(--light-grey);
  --font-family: 'Inter', sans-serif;
  --shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);

}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-family);
}

